body {
	font-family: Century Gothic, arial;
	font-size: 15px;
	line-height: 1.5;
	padding:0;
	margin:0;
	background-color: #f4f4f4;
}



#showcase {
	min-height: 750px;
	background:url('./img/background.jpg') no-repeat 0 -50px;

}

#showcase h1 {
	color: white;
	font-weight: bold;
	
}

#showcase p {
	color: white;
	font-weight: bold;
}


.container {
	width: 100%;
	margin:0;
}

.logo {
	height: 100px;
	width: 400px;
}


header {
	background: black;
	color: #ffffff;
	padding-top: 5px;
	min-height: 60px;
	border-bottom:#7F7F7F 5px solid;
}

header a {
	color: #7F7F7F;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
}

header ul {
	margin:0;
	padding:0;
}

header li {
	display: inline;
	padding: 0 20px 0 20px;
}


header nav {
	margin-top: 10px;
	margin-left: 20px;
	float: left;
}

header #branding {
	margin:0;
	padding:0;
}
 
//* social_media *//


header #socialmedia {
	float: right; 
	
}


.current a{
	color: white;
	font-weight: bold;
	font-size: 16px;
}

header a:hover {
	color: #cccccc;
	font-weight: bold;
	font-size: 16px;
}

footer {
	background-color: black;
	color: white;
	position: fixed;
	bottom: 0;
	height: 50px;
	width: 1920px;
}

footer p {
	margin-top: 15px;
}